/////////////////////////////////////////////
// LikedSongListView Styles
/////////////////////////////////////////////

// Custom Table Styles

.table-liked {
  margin-bottom: 10px;
  th.center {
    text-align: center;
  }
  .badge:hover {
    cursor: default;
  }
}

.popover.popover-liked {
  .popover-inner {
    max-width: 550px !important;
  }

  table { margin-bottom: 0px; }

  td .btn-kexp-nohover i {
    vertical-align: top;
  }

  td .btn-lastfm-nohover {
    .btn-kexp-nohover();
    height: 17px;
    min-width: 65px;
    padding: 0px 6px;
    i { vertical-align: 10%; }
    .lastfm-logo {
      padding: 2px 0px 0px 1px;
    }
  }

  td .info-icon-group {
    margin-left: 10px;
  }

  td .badge:hover {
    cursor: default;
  }

  td span.lastfm-logo {
    display: inline-block;
  }

  td .badge-scrobbles {
    i { vertical-align: -10%; }
  }

  td .btn-lastfm-love {
    margin-left: 10px;
    vertical-align: text-bottom;
  }
}