/////////////////////////////////////////////
// LikedSongListView Styles
/////////////////////////////////////////////

// Custom Table Styles
.table-header-nofocus th:focus {
  outline: 0;
}

.table-removable {
  tbody tr {
    td.cell-remove-action {
      width: 22px;
      padding-left: 8px;
      padding-right: 0px;
      i.icon-remove {
          display: none;
          vertical-align: text-bottom;
      }
    }
    &:hover {
      td.cell-remove-action i.icon-remove {
          display: inline-block;
      }
    }
  }
}

.table-infoable {
  tbody tr {
    td.cell-info-action {
      width: 22px;
      padding-left: 8px;
      padding-right: 0px;
      i {
          display: none;
          vertical-align: text-bottom;
      }
    }
    &:hover {
      td.cell-info-action i {
          display: inline-block;
      }
    }
  }
}

.column-sortable {
  text-decoration: none;
  cursor: pointer;
}

.table-liked {
  margin-bottom: 10px;
  th.center {
    text-align: center;
  }
  .badge:hover {
    cursor: default;
  }
}


.popover-liked {
  table {
    margin-bottom: 0px;
  }

  td .btn-kexp-nohover {
    i {
      vertical-align: top;
    }
  }

  td .btn-lastfm-nohover {
    .btn-kexp-nohover();
    height: 17px;
    padding: 0px 6px;
    i {
      vertical-align: 10%;
    }
    .lastfm-logo {
      padding: 2px 0px 0px 0px;
    }
  }

  td .info-icon-group {
    margin-left: 10px;
  }

  td span.lastfm-logo {
    display: inline-block;
  }

  td .badge-scrobbles {
    i {
      vertical-align: -10%;
    }
  }
}

.popover.popover-liked .arrow {
  left: 40%;
}