/////////////////////////////////////////////
// NowPlaying Layout Styles
/////////////////////////////////////////////

// Manually override bootstrap grid system for the view to optimize sizes
.span-nowplaying-content {
  width: 367px;
}

.span-nowplaying-meta {
  width: 210px;
  margin-left: 15px;
}


.btn-refresh.rotate {
  -webkit-animation: rotate 3s linear;
}

/////////////////////////////////////////////
// NowPlayingSongView Styles
/////////////////////////////////////////////

#region-nowplaying-song {
  min-height: 260px;
  padding-left: 10px;
}
#region-nowplaying-footer {
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
}

.song {
  .clearfix;
  span {
      display: block;
  }
  .artist {
    #font > .shorthand(@baseFontSize + 10, bold, @baseLineHeight + 10);
    color: @kexpOrange;
  }
  .song-title {
    #font > .shorthand(@baseFontSize + 6, bold, @baseLineHeight + 6);
  }
  .album {
    #font > .shorthand(@baseFontSize + 4, normal, @baseLineHeight + 4);
  }
  .label-title{
    #font > .shorthand(@baseFontSize + 4, normal, @baseLineHeight + 4);
    font-style: italic;
  }
  .comment {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .timeplayed {
    #font > .shorthand(@baseFontSize + 2, bold, @baseLineHeight + 2);
  }
}

/////////////////////////////////////////////
// NowPlayingFooterView Styles
/////////////////////////////////////////////

.song-footer {
  .clearfix;
  color: @grayDark;
  .btn {
    #font > #family .sans-serif();
    margin-right: 5px;
    i {
      color: @white;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

  }
  .btn-like {
    .badge {
      margin-left: 5px;
      padding: 1px 9px 2px;
      background-color: @linkColorHover;
      &.badge-zero {
        background-color: #909090;
      }
    }
    &:hover .badge {
      cursor: default;
      background-color: @textColor;
      &.badge-zero {
        background-color: @kexpDark;
      }
    }
  }
  .btn-lastfm {
    .fa-lastfm:before {
      color: @kexpOrange;
    }
    &:hover .fa-lastfm:before {
      color: @kexpDark;
    }
  }
  .kexp-icon-button-group {
    height: 28px;
    margin-top: 5px;
  }
  &.fade {
    .transition(opacity .75s ease);
    // opacity: 0;
    // &.in {
    //   opacity: 1;
    // }
  }
}