/////////////////////////////////////////////
// PlayerView Styles
/////////////////////////////////////////////

.container-player {
  padding: 10px 0px 10px 0px;
}

.player {
  width: 215px;
  .center-block();
  #gradient > .vertical-three-colors(@kexpOrange, @kexpOrange, 33%, darken(@kexpOrange, 8%));

  .btn-play {
    width: 70px; // 1 px border inherited
    i:before {
      margin-right: 3px;
    }
  }
  .container-player-inner {
    border: 4px solid rgba(0,0,0,.05);
    .border-radius(4px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    padding: 12px 5px 2px 5px;
    .clearfix;
  }
  .slider-volume {
    -webkit-appearance: none !important;
    width: 103px;
    height: 7px;
    // override bootstrap input default
    margin-bottom: 0;
    padding: 0 0 0 0;
    #gradient > .horizontal(@grayLighter, @btnInverseBackground);
    &::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      width: 5px;
      height: 20px;
      .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
    }
    &:focus {
      outline: none;
    }
  }
  #player-mute {
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
  }
  .container-player-status {
    text-align: right;
    font-weight: bold;
    width: 100%;
    margin-top: 3px;
    background-color: transparent;
  }
  .player-status {
    cursor: pointer;
  }
  .prefix-accent {
    color: @kexpDark;
  }
}