//simpless:!minify

@import "variables.less";
// GRID Overrides
// --------------------------------------------------
@gridColumnWidth:         36px;
@gridGutterWidth:         15px;
@viewContentMarginHeight: 15px;

@import "bootstrap.less";
@import "common.less";

/////////////////////////////////////////////
// Structure
/////////////////////////////////////////////

body {
  margin-top: @navbarHeight + @viewContentMarginHeight;
  //padding-bottom: 10px;
  max-height: 960px;
}

/////////////////////////////////////////////
// Nav Region Styles
/////////////////////////////////////////////

.navbar {
  margin-bottom: @viewContentMarginHeight;
}

.navbar .nav > li > a {
  padding: 15px 10px 15px;
  outline-style: none;
}

.navbar .nav > li > a > i {
  vertical-align: text-middle;
}

.navbar .logo {
  float: left;
  display: block;
  margin: 5px 15px 0px 5px;
  height: 38px;
}


/////////////////////////////////////////////
// Notification Styles
/////////////////////////////////////////////

.notification-fixed {
  position: absolute;
  bottom: 79px;
  width: 100%;
  z-index: 9999;
}

.notification-fixed-single {
  position: absolute;
  bottom: 88px;
  width: 100%;
  z-index: 9999;
}

.toast {
  .center-block();
  color: @white;
  &:hover {
    cursor: pointer;
  }
}

.toast-title {
  font-weight: bold;
  font-size: 16px;
}

.toast-message {
  margin-top: 5px;
}

.toast-success{
  color: @successBorder;
}

.toast-error{
  color: #BD362F;
}

.toast-info{
  color: @grayDark;
}

.toast-warning{
  color: @kexpOrange;
}


/////////////////////////////////////////////
// Popout Overlay Styles
/////////////////////////////////////////////

.container-footer-popout {
  position: absolute;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
  font-weight: bold;
}


/////////////////////////////////////////////
// App View Styles
/////////////////////////////////////////////

@import "player.less";
@import "nowplaying.less";
@import "lastfm-meta.less";
@import "likedsonglist.less";


/////////////////////////////////////////////
// Popout Style Overrides
/////////////////////////////////////////////

// Eventually it might be smarter to factor out and just have seperate style sheets, not needed yet...
@import "popout.less";

.tooltip-inner {
  max-width: 210px;
}












