<div>
    <h3>
        KEXP Streaming Player <em>(Listener Developed Edition)</em>
    </h3>
    <p>
        I love listening to <strong><a href="http://www.kexp.org"
        title="kexp.org" data-chrometab="active">kexp.org</a></strong>
        while I work and always have a chrome browser window open.
        I <em>hated</em> having to open the kexp.org website when I
        heard an amazing song playing that I liked.
    </p>
    <p>
        <em>Now you can listen to the <strong><a href=
        "http://www.kexp.org" title="kexp.org" data-chrometab="active">
        kexp.org</a></strong> live steam in the background and
        within 1 click of any chrome window discover what's
        playing!</em>
    </p>
    <p>
        If you want to remember the song to download or stream
        later on your favorite service, just click the
        <strong>like</strong> button. The extension uses local
        storage to store all your likes. Album and artist art is 
        displayed using <a href="http://www.last.fm" title="last.fm" 
        data-chrometab="active">last.fm</a>
    </p>
    <p>
        This extension is powered by BSD/MIT licensed open source software, 
        and is not associated or endorsed by <a href="http://www.kexp.org"
        title="kexp.org" data-chrometab="active">kexp.org</a>.
    </p>
    <p>
        <em>Thanks for downloading!</em>
    </p>
    <p>
        Comments <a href=
        "https://twitter.com/intent/tweet?screen_name=jankytweet"
        class="btn btn-mini twitter-mention-button" data-size="small"
        data-related="jankytweet"><i></i><span class="mention-label">Tweet
        to @jankytweet</span></a>
    </p>
</div>
