< table id = "table-liked-info"
class = "table table-striped table-condensed" >
<!--   <thead class="table-header-nofocus">
<
tr > < th > < /th>
      <th></th > < /tr>
  </thead > -->
<
tbody > < tr > < td > < span class = "btn-kexp-nohover" > < span class = "prefix-accent" > \\\ < /span> SONG</span > < /td>
      <td><%= model.songTitle %></td > < /tr>
    <tr>
      <td><span class="btn-kexp-nohover"><span class="prefix-accent">\\\</span > ARTIST < /span></td > < td > <%= model.artist %> < /td>
    </tr > < tr > < td > < span class = "btn-kexp-nohover" > < span class = "prefix-accent" > \\\ < /span> ALBUM</span > < /td>
      <td><%= model.album %></td > < /tr>
    <tr>
      <td><span class="btn-kexp-nohover"><span class="prefix-accent">\\\</span > YEAR < /span></span > < /td>
      <td><%= model.albumYear %></td > < /tr>
    <tr>
      <td><span class="btn-kexp-nohover"><span class="prefix-accent">\\\</span > LABEL < /span></span > < /td>
      <td><%= model.albumLabel %></td > < /tr>
    <tr>
      <td><span class="btn-kexp-nohover"><span class="prefix-accent">\\\</span > LIKES < /span></span > < /td>
      <td><%= model.likeCount %></td > < /tr>
    <tr>
      <td><span class="btn-kexp-nohover"><span class="prefix-accent">\\\</span > LAST LIKED < /span></span > < /td>
      <td><%= model.timeLastLike %></td > < /tr>
  </tbody > < /table>
