<table id="table-liked" class="table table-striped table-condensed table-removable table-infoable">
  <thead class="table-header-nofocus">
    <tr>
      <th></th>
      <th class="column-sortable">Likes</th>
      <th class="column-sortable">Artist</th>
      <th class="column-sortable">Song</th>
      <th class="column-sortable">Album</th>
      <th class="column-sortable">Last Liked</th>
      <!-- <th></th> -->
    </tr>
  </thead>
  <tbody>
    <% _.each(model, function(song) { %>
    <tr data-id="<%- song.id %>">
      <td class="cell-remove-action"><i class="icon-remove"></i></td>
      <td><span class="cell-likes badge"><%- song.likeCount %></span></td>
      <td class="cell-artist"><%- song.artist %></td>
      <td class="cell-song"><%- song.songTitle %></td>
      <td class="cell-album"><%- song.album %></td>
      <td class="cell-lastliked"><%- song.timeLastLike %></td>
      <!-- <td class="cell-info-action"><i class="icon-info-sign"></i></td> -->
    </tr>
    <% }); %>
  </tbody>
</table>