<div id="container-liked-info">
  <div>
    <table id="table-liked-info" class="table table-striped table-condensed">
      <tbody>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> SONG</div></td>
          <td>
            <div class="pull-left"><%= model.songTitle %></div>
            <div class="info-icon-group pull-right">
              <% if (!_.isEmpty(model.trackLastFmUrl)) { %>
                <a class="btn-lastfm-favicon" href="<%= model.trackLastFmUrl %>" 
                  rel="tooltip" title="Last.fm Track Page" data-chrometab="active"></a>
              <% } %>
              <% if (!_.isEmpty(model.trackSpotifyUrl)) { %>
                <a class="btn-spotify-favicon" href="<%= model.trackSpotifyUrl %>" 
                  rel="tooltip" title="Search Spotify for Track" data-chrometab="temp"></a>
              <% } %>
              <!-- TODO Invert Statement after test -->
              <% if (!_.isEmpty(model.trackDownloadUrl)) { %>
                <a class="btn-download" href="<%= model.trackDownloadUrl %>" 
                  rel="tooltip" title="Track Download" data-chrometab="active">
                  <i class="icon-download"></i>
                </a>
              <% } %>
            </div>
          </td>
        </tr>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> ARTIST</div></td>
          <td>
            <div class="pull-left"><%= model.artist %></div>
            <div class="info-icon-group pull-right">
              <% if (!_.isEmpty(model.artistLastFmUrl)) { %>
                <a class="btn-lastfm-favicon" href="<%= model.artistLastFmUrl %>" 
                  rel="tooltip" title="Last.fm Artist Page" data-chrometab="active"></a>
              <% } %>
              <% if (!_.isEmpty(model.artistSpotifyUrl)) { %>
                <a class="btn-spotify-favicon" href="<%= model.artistSpotifyUrl %>" 
                  rel="tooltip" title="Search Spotify for Artist" data-chrometab="temp"></a>
              <% } %>
            </div>
          </td>
        </tr>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> ALBUM</div></td>
          <td>
            <div class="pull-left"><%= model.album %></div>
            <div class="info-icon-group pull-right">
              <% if (!_.isEmpty(model.albumLastFmUrl)) { %>
                <a class="btn-lastfm-favicon" href="<%= model.albumLastFmUrl %>" 
                  rel="tooltip" title="Last.fm Album Page" data-chrometab="active"></a>
              <% } %>
              <% if (!_.isEmpty(model.albumSpotifyUrl)) { %>
                <a class="btn-spotify-favicon" href="<%= model.albumSpotifyUrl %>" 
                  rel="tooltip" title="Search Spotify for Album" data-chrometab="temp"></a>
              <% } %>
            </div>
          </td>
        </tr>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> YEAR</div></td>
          <td><%= model.albumYear %></td>
        </tr>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> LABEL</div></td>
          <td><%= model.albumLabel %></td>
        </tr>
        <tr>
          <td><div class="btn-kexp-nohover"><span class="prefix-accent">\\\</span> LIKES</div></td>
          <td><span class="badge badge-likes"><%= model.likeCount %></span></td>
        </tr>
        <tr>
          <td><div class="btn-lastfm-nohover"><i class="icon-share icon-white"></i> <span class="lastfm-logo"></span></div></td>
          <td>
            <span class="badge badge-scrobbles" rel="tooltip" title="Last.fm Track Scrobbles (Listens)" data-placement="bottom">
              <i class="icon-headphones icon-white"></i> <%= model.lastFmTrackScrobbleCount %>
            </span>
            <i id="btn-lastfm-love" class="btn-lastfm-love <%= model.hasLastFmLoveShare ? 'icon-heart enabled' : 'icon-heart disabled' %>"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<div>