<div>
  <img class="kexp-alert" src="./img/kexp_alert.png">
  <strong>Oh Snap!</strong>
  <p>
      There was an error retrieving the kexp.org now playing info from the interwebs.  For now try going to the
      <strong><a href="http://kexp.org/playlist/miniplaylist" data-chrometab="active">kexp.org web playlist</a></strong>.
  </p>
  <p><em>Enjoy the music, we will automatically try again shortly!</em></p>
  <p>
    <span class="pull-right">
      <% if (model.canPagePrev) { %>
        <i id="button-page-prev" class="btn-page icon-step-backward active"></i>
      <% } %>
      <i id="button-refresh" class="btn-refresh icon-refresh"></i>
    </span>
  </p>
</div>