<div id="song-footer" class="song-footer kexp-box-striped fade">
    <div class="wrap">
      <% if (!model.airBreak) { %>
      <button id="button-like" class="btn btn-mini btn-like btn-inverse btn-kexp-inverse pull-left" type="button" data-id="<%= model.id %>">
        <span class="prefix-accent">\\\</span> LIKE
      </button>
      <span class="<%= (model.likeCount > 0) ? 'badge' : 'badge badge-zero' %> pull-left "><%= model.likeCount %></span>
      <a id="button-spotify" class="btn btn-mini btn-spotify pull-left" data-chrometab="temp">
        <span class="spotify-logo"></span>
      </a>
      <button id="button-lastfm" class="btn btn-mini btn-lastfm pull-left hide" type="button">
        <span class="lastfm-logo"></span>
      </button>
      <% } %>
      <span class="kexp-icon-button-group pull-right">
        <% if (_.isObject(model.pager) && (model.pager.canPagePrev || model.pager.canPageNext)) { %>
        <span>
          <i id="button-page-prev" class="btn-page icon-step-backward <%= (model.pager.canPagePrev) ? 'active' : '' %>"></i>
          <i id="button-page-next" class="btn-page icon-step-forward <%= (model.pager.canPageNext) ? 'active' : '' %>"></i>
        </span>
        <% } %>
        <span>
          <i id="button-refresh" class="btn-refresh icon-refresh active"></i>
          <a href="./options.html" target="_blank" data-chrometab="active">
            <i id="button-share" class="btn-share icon-share <%= (model.likeShareEnabled) ? 'active' : '' %>"></i>
          </a>
        </span>
      </span>
    </div>
</div>