<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span-nowplaying-content">
        <div id="region-nowplaying-song">
          <!-- Placeholder for now playing song -->
        </div> <!-- region-nowplaying-song -->
        <div id="region-nowplaying-footer">
          <!-- Placeholder for like bar-->
        </div> <!-- region-nowplaying-footer -->
      </div> <!-- span-nowplaying-content -->
      <div class="span-nowplaying-meta">
        <div id="region-nowplaying-meta">
          <!-- Placeholder for dynamic metadata such as images -->
        </div> <!-- region-nowplaying-meta -->
      </div> <!-- span-nowplaying-meta -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->