<div class="row">
  <div class="span12">
    <div class="row">
      <div class="span-song">
        <div id="region-song">
          <!-- Placeholder for now playing song -->
        </div> <!-- region-song -->
        <div id="region-footer">
          <!-- Placeholder for like bar-->
        </div> <!-- region-footer -->
      </div> <!-- span-song -->
      <div class="span-meta">
        <div id="region-meta">
          <!-- Placeholder for dynamic metadata such as images -->
        </div> <!-- region-meta -->
      </div> <!-- span-meta -->
    </div> <!-- row -->
  </div> <!-- span12 -->
</div> <!-- row -->