<div>
  <img class="kexp-alert" src="../img/kexp_alert.png">
  <strong>Oh Snap!</strong>
  <p>
      There was an error retrieving the kexp.org now playing info from the interwebs.  For now try going to the
      <strong><a href="http://kexp.org/playlist/miniplaylist" data-chrometab="active">kexp.org web playlist</a></strong>.
  </p>
  <p><em>Enjoy the music, we will automatically try again shortly!</em></p>
  <p>
    <span id="button-refresh" class="btn-refresh pull-right"><i class="icon-refresh active"></i></span>
    <% if (model.canPagePrev) { %>
    <span id="button-page-prev" class="btn-page pull-right"><i class="icon-step-backward active"></i></span>
    <% } %>
  </p>
</div>