<div>
  <img class="img-header" title="Last.fm" src="./img/lastfm_logo_black_large.png">
  <div class="control-group">
    <label class="control-label" for="btn-lastfm-service">Connected Profile:</label>
    <div id="ctrls-lastfm-service" class="controls">
      <label>
        <button id="btn-lastfm-service" class="btn btn-kexp-toggle" type="button"></button>
      </label>
      <p class="help-block"><em>Allows this extension to access your Last.fm profile</em></p>
    </div>
    <label class="control-label">Share <i class="icon-share"></i>:</label>
    <div id="ctrls-lastfm-features" class="controls">
      <label class="checkbox">
        <input type="checkbox" id="chkbx-lastfm-share-like">
        Share likes to my Last.fm profile (Loves)
      </label>
      <label class="checkbox">
        <input type="checkbox" id="chkbx-lastfm-scrobble-like">
        Scrobble likes to my Last.fm profile (Plays)
      </label>
      <label class="checkbox">
        <input type="checkbox" id="chkbx-lastfm-scrobble-play">
        Scrobble all tracks when streaming to my Last.fm profile
      </label>
      <p class="help-block"><strong>Note:</strong> Requires Last.fm app authorization.</p>
    </div>
  </div>
<div>
<div class="modal modal-lastfm-authorize hide fade" id="modal-lastfm-authorize">
  <div class="modal-header">
    <img src="./img/lastfm_logo_white_large.png">
    <button class="close" data-dismiss="modal">×</button>
  </div>
  <div class="modal-body">
    <p>
      In a few seconds the <a id="link-redirect-authorize"><strong>Last.fm Connect Application</strong></a> 
      page will launch.
    </p>
    <p>
      This extension requires permission to access your Last.fm account.  After you have accepted the permission request, 
      <strong>return</strong> to this options page and click <strong>Complete</strong>.
    </p>
    <p>
      <strong>Note:</strong> You can revoke this permission from your last.fm account options at any time.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-inverse btn-kexp-inverse" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary btn-inverse btn-kexp-inverse accept" data-dismiss="modal">Complete</button>
  </div>
</div>