<div>
  <img class="img-header" title="Spotify" src="./img/spotify_logo_black.png">
  <div class="control-group">
    <label class="control-label" for="btn-spotify-service">Connected:</label>
    <div id="ctrls-spotify-service" class="controls">
      <label>
        <button id="btn-spotify-service" class="btn btn-kexp-toggle" type="button"></button>
      </label>
      <p class="help-block"><em>Allows this extension to access your Spotify profile</em></p>
    </div>
    <label class="control-label">Share <i class="icon-share"></i>:</label>
    <div id="ctrls-spotify-features" class="controls">
      <label class="checkbox">
        <input type="checkbox" id="chkbx-spotify-share-like">
        Share likes to Spotify playlist
      </label>
      <p class="help-block"><strong>Note:</strong> Requires Spotify app authorization.</p>
    </div>
  </div>
</div>