<div id="player" class="player fade">
  <div class="container-player-inner">
    <button id="player-button" class="btn btn-small btn-inverse btn-play" type="button">
      <i class="fa fa-play"></i> Play
    </button>
    <input id="player-volume" class="slider-volume" type="range" min="0" max="10" value="10" step="1"></input>
    <i id="player-mute"></i>
    <div id="container-player-status" class="container-player-status">
      <div id="player-status-state" class="player-status">
        <span class="prefix-accent">\\\</span> <span class="player-status-message"></span>
      </div>
    </div>
  <div>
</div>