<div id="player" class="player">
  <div class="wrap">
    <p></p>
    <button id="player-button" class="btn btn-small btn-inverse" type="button">
    <%= paused ? '<i class="icon-play icon-white"></i> Play' : '<i class="icon-pause icon-white"></i> Pause' %>
    </button>
    <input id="player-volume" class="slider-volume" type="range" min="0" max="10" value="<%= volume %>" step="1" />
    <i id="player-mute" class="<%= muted ? 'icon-volume-off' : 'icon-volume-up' %>"></i>
    <div class="container-player-status">
      <div id="player-title" class"player-title">
        <span class="prefix-accent">\\\</span> <span class="player-status"><%= muted ? message + " (Muted)" : message %></span>
      </div>
    </div>
  <div>
</div>